<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294516963977-toc0fa0lu2odihl3v7c5dlit9j1a7t98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294516963977-toc0fa0lu2odihl3v7c5dlit9j1a7t98</string>
	<key>API_KEY</key>
	<string>AIzaSyAUIczxB1vvyS8sSDOCp8Ii0YFPHabDfu8</string>
	<key>GCM_SENDER_ID</key>
	<string>294516963977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-app-a81d1</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-a81d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294516963977:ios:dd660e573a0cfe9230e458</string>
</dict>
</plist>